<a href="https://colab.research.google.com/github/marianasoeiro/login-test/blob/test16-jun/section4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 2

In [ ]:
import pandas as pd

stocks = ['PLW', 'CDR', '11B', 'TEN']

serie = pd.Series(stocks)

print (serie)

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

In [ ]:
import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
df = pd.DataFrame(data=quotations, columns=['price'])

print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

In [6]:
#exercise 5 (section 4 - my awnser)
import numpy as np
import pandas as pd


# simple array
stocks = np.array([10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0])
  
# providing an index
serie = pd.Series(stocks, index =['101', '102', '103', '104', '105','106', '107', '108', '109'])
print(serie)

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [12]:
# exercise 6 (section 4 - my awnser)


import pandas as pd


series = pd.Series(['001', '002', '003', '004'], list('abcd'))
#mudanca pra inteiro
series = series.astype(int)
print(series)

#forca bruta mas não muda pra inteiro
#series.iloc[0] = 1
#series.iloc[1] = 2
#series.iloc[2] = 3
#series.iloc[3] = 4

a    001
b    002
c    003
d    004
dtype: object

In [14]:
# exercise 7 (section 4 - my awnser)

import pandas as pd


stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
#força bruta
stocks['BBT'] = 25.5
stocks['F51'] = 19.2

#solucao dele 
#quotations = quotations.append(pd.Series({'BBT': 25.5, 'F51': 19.2}))

quotations = pd.Series(data=stocks)

print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

In [2]:
# exercise 8 (section 4 - my awnser - solution help)
import pandas as pd
stocks = {
    'PLW': 387.00, 
    'CDR': 339.5, 
    'TEN': 349.5, 
    '11B': 391.0, 
    'BBT': 25.5, 
    'F51': 19.2
}
quotations = pd.Series(data=stocks)
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ['ticker', 'price']
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

In [24]:
# exercise 9 (section 4 - my awnser)
import pandas as pd

#stocks = pd.DataFrame({'Amazon': [2375.0, 'AMZN.US'], 'Microsoft': [178.6, 'MSFT.US'], 'Facebook': [179.2,'FB.US']})
#quotations = pd.DataFrame(quotations).reset_index()
#quotations.columns = ['company', 'price','ticker']
#print(quotations)

import pandas as pd

companies = pd.DataFrame({
  'company': ['Amazon', 'Microsoft', 'Facebook'],
  'price': [2375.0, 178.6, 179.2],
  'ticker': ['AMZN.US', 'MSFT.US', 'FB.US'],
})

print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In [26]:
# exercise 10 (section 4 - my awnser)

import pandas as pd


data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)
companies = companies.set_index('company')
print(companies)

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US